<% include ./partials/header %>

<!--<h1>Sign Up!</h1>-->

<!--<form action="/register" method="post">-->
<!--    <input type="text" name="username" placeholder="username">-->
<!--    <input type="password" name="password" placeholder="password">-->
<!--    <button>Sign Up</button>-->
<!--</form>-->

<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 50px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="firstName" placeholder="first name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lastName" placeholder="last name">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="john@gmail.com">
            </div>
            <div class="form-group">
                <div class="form-group">
                <input class="form-control" type="text" name="avatar" placeholder="avatar image">
            </div>
                <input class="form-control" type="password" name="adminCode" placeholder="Admin Code">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/travelnotes">Go Back</a>
    </div>
</div>



<% include ./partials/footer %>